NEXT_PUBLIC_BACKEND_URL = backend_url

NEXT_PUBLIC_INSTALL_META_CHROME = "https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=ko"
NEXT_PUBLIC_INSTALL_META_FIREFOX = "https://addons.mozilla.org/ko/firefox/addon/ether-metamask/"
NEXT_PUBLIC_INSTALL_META_IOS = "https://apps.apple.com/kr/app/metamask-blockchain-wallet/id1438144202"
NEXT_PUBLIC_INSTALL_META_ANDROID = "https://play.google.com/store/apps/details?id=io.metamask"

NEXT_PUBLIC_GOOGLE_CLIENT_ID: your_google_client_id
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET: your_google_client_secret
# NEXT_PUBLIC_NEXTAUTH_SECRET: "HjqJ+A/yljaaTBi6lvzDW0wmemf3qGmMKYj6fD6zbC0=",
NEXT_PUBLIC_KAKAO_CLIENT_ID: your_kakao_client_id
NEXT_PUBLIC_KAKAO_CLIENT_SECRET: your_kakao_client_secret