{
  "PORT": YOUR_PORT_NUMBER,
  "ORIGIN": ["YOUR_ORIGIN"],
  "DATABASE_URL": "YOUR_MONGO_URL",
  "SERVICE_NAME": "YOUR_SERVICE_NAME",
  "MAIL_ID": "YOUR_MAIL_ID",
  "MAIL_PW": "YOUR_MAIL_PW",
  "ADMIN_EMAIL": "YOUR_ADMIN_EMAIL",
  "SECRET_CODE": "YOUR ACCESS SECRET CODE",
  "REFRESH_SECRET_CODE": "YOUR REFRESH SECRET CODE",
  "ADMIN_SECRET_CODE": "YOUR ADMIN ACCESS SECRET CODE",
  "ADMIN_REFRESH_SECRET_CODE": "YOUR ADMIN REFRESH SECRET CODE",
  "EVENT_QR_SECRET_CODE": "EVENT QR SECRET CODE",
  "S3_ACCESS_KEY": "YOUR AWS ACCOUNT ACCESS KEY",
  "S3_SECRET_KEY": "YOUR AWS ACCOUNT SECRET KEY",
  "S3_BUCKET_NAME": "YOUR AWS S3 BUCKET NAME",
  "ISSUER": "YOUR COOKIE ISSUER",
  "AUDIENCE": "YOUR COOKIE AUDIENCE",
  "RPC_URL": "YOUR BLOCKCHAIN RPC URL",
  "DNFT_ADDRESS": "YOUR DNFT CONTRACT ADDRESS",
  "BADGE_ADDRESS": "YOUR BADGE CONTRACT ADDRESS",
  "TOKEN_ADDRESS": "YOUR TOKEN CONTRACT ADDRESS",
  "SENDER": "YOUR SENDER WALLET ADDRESS",
  "SENDER_PRIVATE_KEY": "YOUR SENDER WALLET PRIVATE KEY",
  "PINATA_API": "YOUR PINATA API KEY",
  "PINATA_SECRET": "YOUR PINATA SECRET KEY",
  "TEST_MONGO_URL": "YOUR TEST MONGO URL",
  "CLIENT_COOKIE_DOMAIN": "YOUR CLIENT COOKIE DOMAIN",
  "ADMIN_COOKIE_DOMAIN": "YOUR ADMIN COOKIE DOMAIN",
  "CLOUD_FRONT": "YOUR CLOUD FRONT DOMAIN",
}
  