{
  "PORT": 
  "ORIGIN": 
  "DATABASE_URL": 
  "SERVICE_NAME": 
  "MAIL_ID": 
  "MAIL_PW":
  "ADMIN_EMAIL": 
  "SECRET_CODE": 
  "REFRESH_SECRET_CODE": 
  "ADMIN_SECRET_CODE": 
  "ADMIN_REFRESH_SECRET_CODE": 
  "EVENT_QR_SECRET_CODE": 
  "S3_ACCESS_KEY": 
  "S3_SECRET_KEY": 
  "S3_BUCKET_NAME": 
  "ISSUER": 
  "AUDIENCE": 
  "RPC_URL": 
  "DNFT_ADDRESS": 
  "BADGE_ADDRESS": 
  "TOKEN_ADDRESS": 
  "SENDER": 
  "SENDER_PRIVATE_KEY": 
  "PINATA_API": 
  "PINATA_SECRET": 
  "TEST_MONGO_URL":
  "COOKIE_DOMAIN": 
  "CLOUD_FRONT": 
}
  