{
  "PORT": 8080,
  "DATABASE_URL": "",
  "SERVICE_NAME": "Naver",
  "NAVER_MAIL_ID": "",
  "NAVER_MAIL_PW": "",
  "ADMIN_EMAIL": "clean_mile@naver.com",
  "SECRET_CODE": "",
  "RPC_URL": "http://localhost:8545",
  "DNFT_ADRESS": "",
  "BADGE_ADDRESS": "",
  "Token_ADDRESS": "",
  "SENDER": "",
  "NFT_STORAGE_API_KEY": ""
}
